img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 230px;
}

body {
    background-color: black;
}

#theGame {
    color:black;
    text-align: center;
    font-size: 20px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 330px;
}

#time {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}

button {
    width: 350px;
    margin: 10px;
}

.jumbotron {
    background-color: black;
}



