.jumbotron {
    background-color: black;
}

button {
    margin-top: 10px;
}
 #opt4 {
     margin-bottom: 20px;
 }

 #image {
     margin-bottom: 20px;
 }

body {
    background-color: black;
    color: white;
}

#opening {
    font-size: 30px;
    margin-bottom: 10px;
}

#time {
    font-size: 15px;
    margin-bottom: 10px;
}

#question {
    font-size: 20px;
    margin-bottom: 10px;
}

#answer {
    font-size: 20px;
    margin-bottom: 10px;
}

#final {
    font-size: 30px;
}

#unAnswered {
    
    margin-bottom: 10px;
}



